---
import { getCollection } from 'astro:content';
import PageLayout from '../layouts/PageLayout.astro';
import PageMeta from '../components/PageMeta.astro';
import PageHeader from '../components/PageHeader.astro';
import ArticleList from '../components/ArticleList.astro';

const posts = await getCollection('blog');

const sortedPosts = posts
  .filter((p) => p.data.draft !== true)
  .sort(
    (a, b) =>
      new Date(b.data.date).valueOf() -
      new Date(a.data.date).valueOf()
  );

const currentPost = sortedPosts[0];
const archivedPosts = sortedPosts.slice(6);
---

<PageLayout>
  <PageMeta
    title="Helpful blog articles about Shopify, React, Jamstack & frontend development | Rob Kendal, freelance web developer"
    description="Read articles from Rob Kendal about Shopify, React, Jamstack, frontend development and JavaScript"
    slot="meta"
  />
  <section slot="main">
    <PageHeader>Latest articles</PageHeader>

    <div class="mx-auto my-10">
      <figure class="aspect-video">
        <a href={`/blog/${currentPost.slug}`} class="unset">
          <img
            src={currentPost.data.featuredimage}
            alt={`intro image for article ${currentPost.data.title}`}
            class="shadow-md"
          />
        </a>
      </figure>
      <div class="">
        <time
          datetime={currentPost.data.date.toISOString()}
          class="text-gray-500"
        >
          {
            new Date(currentPost.data.date).toLocaleDateString('en-gb', {
              year: 'numeric',
              month: 'short',
              day: 'numeric',
            })
          }
        </time>
        <h3 class="heading-3 m-0 p-0">
          <a href={`/blog/${currentPost.slug}`} class="fancy-underline unset">
            {currentPost.data.title}
          </a>
        </h3>
        {currentPost && <p>{currentPost.data.description}</p>}
      </div>
    </div>
    <div
      class="max-w-lg h-3 w-full mx-auto border-b-slate-200 border-b pt-6 pb-2 group-last:border-none"
    >
    </div>

    <ArticleList count={6} skip={1} showBlurb />

    <h2 class="heading-2">Articles archive</h2>
    <ul class="chevron-list">
      {
        archivedPosts.map((post) => {
          const formattedDate = new Date(
            post.data.date
          ).toLocaleDateString('en-us', {
            year: 'numeric',
            month: 'short',
            day: 'numeric',
          });
          return (
            <li class="grid grid-cols-[1fr_auto] mb-3 gap-2 items-start border-b pb-2 sm:pb-0 sm:border-none">
              <div class="title">
                <a
                  href={`/blog/${post.slug}`}
                  class="fancy-underline unset"
                >
                  {post.data.title}
                </a>
              </div>
              <div class="text-text-muted text-sm pt-1">
                <time datetime={post.data.date.toISOString()}>
                  {formattedDate}
                </time>
              </div>
            </li>
          );
        })
      }
    </ul>
  </section>
</PageLayout>
