---
import { getCollection } from 'astro:content';
import { generateSocialImage } from 'src/lib/utils';

interface Props {
  title?: string;
  count: number;
  skip?: number;
  showHeading?: boolean;
  centralise?: boolean;
  showBlurb?: boolean;
  relatedPostTags?: string[];
  pathToSkip?: string;
}

const {
  title = 'Latest articles',
  count = 5,
  skip = 0,
  showHeading = false,
  centralise = false,
  showBlurb = false,
  relatedPostTags,
  pathToSkip = '',
} = Astro.props;

const posts = await getCollection('blog');

const sanitisedTags = relatedPostTags?.map((tag) => tag.toLocaleLowerCase());

const sortedPosts = posts
  .filter((p) => p.data.draft !== true)
  .filter((p) => p.slug !== pathToSkip)
  .filter(
    (p) =>
      !sanitisedTags?.length ||
      (sanitisedTags?.length &&
        p.data.tags.some((t) => sanitisedTags.includes(t.toLocaleLowerCase())))
  )
  .map((post) => {
    return {
      ...post,
      data: {
        ...post.data,
        featuredImage:
          post.data.featuredimage ??
          generateSocialImage({
            title: post.data.imgtitle ?? post.data.title,
          }),
      },
    };
  })
  .sort(
    (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf()
  );
---

<section class="section my-10">
  {showHeading && <h2 class="heading-2 text-center mb-8">{title}</h2>}
  {
    sortedPosts.slice(skip, count).map((article) => (
      <div class="mb-6 group">
        <article
          class={`
            flex 
            flex-col
            md:flex-row
            gap-5 
            mx-auto 
            ${showBlurb ? 'items-start' : 'items-center'} 
            ${centralise ? 'justify-center' : ''}`}
        >
          <figure
            class={`md:max-w-[20%] aspect-video ${showBlurb ? 'mt-2' : ''}`}
          >
            <img
              src={article.data.featuredImage}
              alt={`intro image for article ${article.data.title}`}
              class="shadow-md"
            />
          </figure>
          <div class={`${centralise ? 'max-w-md' : ''}`}>
            <time
              datetime={article.data.date.toISOString()}
              class="text-gray-500"
            >
              {new Date(article.data.date).toLocaleDateString('en-gb', {
                year: 'numeric',
                month: 'short',
                day: 'numeric',
              })}
            </time>
            <h3 class="heading-3 m-0 p-0">
              <a href={`/blog/${article.slug}`} class="fancy-underline unset">
                {article.data.title}
              </a>
            </h3>
            {showBlurb && <p>{article.data.description}</p>}
          </div>
        </article>
        <div class="max-w-lg h-3 w-full mx-auto border-b-slate-200 border-b pt-6 pb-2 group-last:border-none" />
      </div>
    ))
  }
</section>
