---
import { Image } from "astro:assets";

import nhsLogo from "../assets/logos/nhs-logo.png";
import hubspotLogo from "../assets/logos/hubspot-logo.png";
import caLogo from "../assets/logos/citizens-advice-logo.png";
import nyccLogo from "../assets/logos/north-yorkshire-council.png";
import shepherdsLogo from "../assets/logos/shepherd-purse-cheeses.png";
import rugbyLogo from "../assets/logos/rugby-world-cup.png";

interface Props {
	title: string;
	intro: string;
}

const { title, intro } = Astro.props;
---

<section class="section is-md my-14">
  <h2 class="heading-2 text-center mb-1">{title}</h2>
  <p class="text-center text-md max-w-xl mx-auto">
    {intro}
  </p>
  <div class="grid grid-cols-2 md:grid-cols-3 gap-5 mt-5">
    <Image src={nhsLogo} alt="NHS logo" class="w-full shadow-md bg-white" />
    <Image src={hubspotLogo} alt="NHS logo" class="w-full shadow-md bg-white" />
    <Image src={caLogo} alt="NHS logo" class="w-full shadow-md bg-white" />
    <Image src={nyccLogo} alt="NHS logo" class="w-full shadow-md bg-white" />
    <Image src={shepherdsLogo} alt="NHS logo" class="w-full shadow-md bg-white" />
    <Image src={rugbyLogo} alt="NHS logo" class="w-full shadow-md bg-white" />
  </div>
</section>
