---
import Button from "../components/Button.astro";

interface Service {
	icon: string;
	title: string;
	blurb: string;
	href: string;
	sticker?: string;
}

const services: Service[] = [
	{
		icon: "fa-brands fa-shopify",
		title: "Shopify development & support",
		blurb:
			"As a Shopify Partner, I can help with ecommerce websites on Shopify, store migrations, custom Shopify theme development and more.",
		href: "/freelance-shopify-developer",
	},
	{
		icon: "fa-solid fa-database",
		title: "Enterprise software development",
		blurb:
			"With years of experience building custom web apps for organisations just like yours, I can help create software solutions for your business.",
		href: "/enterprise-software-development",
	},
	{
		icon: "fa-regular fa-rocket",
		title: "SEO / CRO",
		blurb:
			"SEO helps gain visibility by ranking higher on search engines. CRO helps you convert more website visitors into leads and paying customers. I can help you do both.",
		href: "/freelance-seo",
		sticker: "New for 2025",
	},
	{
		icon: "fa-solid fa-cubes",
		title: "Storyblok CMS development",
		blurb:
			"As an official Storyblok partner I can help design and develop first-class content-driven user experiences using the Storyblok platform.",
		href: "/freelance-storyblok-developer",
	},
	{
		icon: "fa-regular fa-window-restore",
		title: "Small business websites",
		blurb:
			"I help build blazing fast, accessible & beautiful websites for businesses of all shapes and sizes using headless CMS's powering Jamstack technologies.",
		href: "/small-business-websites",
	},
];
---

<section class="section my-10 lg:-mx-40">
  <h2 class="heading-2 text-center">How can I help?</h2>
  <p class="text-center text-md max-w-2xl mx-auto">
    As a freelance Storyblok web developer, Shopify partner and freelance SEO consultant, 
    I can help build your next business website or web app, enterprise software
    application, or ecommerce store.
  </p>
  <div class="flex flex-col md:grid md:grid-cols-2 lg:grid-cols-3 gap-5 mt-5">
    {
      services.map((service, index) => (
        <div
          class={`
            ${
              index === services.length - 1 ? "md:col-span-2 lg:col-span-1" : ""
            }
            relative 
            bg-brand-blue-dark 
            border-2 
            border-brand-blue 
            text-brand-cream 
            rounded-sm py-5 px-6
          `}
        >
          <span
            class="
            absolute 
            inset-0 
            w-full 
            h-full 
            transition 
            duration-200 
            ease-out 
            transform 
            translate-x-1 
            translate-y-1 
            bg-brand-blue
            group-hover:-translate-x-0 
            group-hover:-translate-y-0
          "
          />
          <span
            class={`
            absolute 
            inset-0 
            w-full 
            h-full 
            bg-brand-blue-dark
            border-2 
            border-gray-800 
            group-hover:bg-primary-blue    
          `}
          />
          <div class="relative z-10">
            {service.sticker && (
              <div class="text-center absolute -top-12 right-10 rotate-12">
                <div class="relative w-full h-full">
                  <i class="fa-solid fa-certificate text-brand-red text-8xl absolute" />
                  <span class="text-sm absolute z-10 top-4 left-7 font-semibold">{service.sticker}</span>
                </div>
              </div>
            )}
            <div class="text-center">
              <i class={`text-7xl ${service.icon}`} />
            </div>
            <h3 class="heading-3 text-brand-cream text-center">
              <span
                class="
                bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:100%_40%]
                from-brand-blue to-brand-blue dark:from-primary-blue dark:to-primary-blue
            "
              >
                {service.title}
              </span>
            </h3>
            <p class="mb-6">{service.blurb}</p>
            <Button
              href={service.href}
              text="Find out more"
              variant="primary"
              classes={["mx-auto", "block", "w-full", "text-center"]}
            />
          </div>
        </div>
      ))
    }
    <div class="relative border-2 rounded-sm py-5 px-6">
      <div class="relative z-10">
        <div class="text-center">
          <i class="text-7xl fa-solid fa-question"></i>
        </div>
        <h3 class="heading-3 text-center">Something else...</h3>
        <p class="mb-6">
          Can't see what you're looking for? Get in touch. I might be able to
          help with your project. Or I'm happy to try and connect you with
          someone who can.
        </p>
        <Button
          href="/contact"
          text="Get in touch"
          variant="primary"
          classes={["mx-auto", "block", "w-full", "text-center"]}
        />
      </div>
    </div>
  </div>
</section>
