---
/* 
  This layout is used in pages that render markdoc content (i.e. blog/article pages).
  - pages/blog/[slug].astro
*/

import BasePageLayout from './BasePageLayout.astro';
import PageHeader from 'src/components/PageHeader.astro';
import Banner from 'src/components/Banner.astro';

export interface Props {
  title: string;
  date: Date;
  tags: string[];
}

const { title, date, tags } = Astro.props;
const formattedDate = new Date(date).toLocaleDateString('en-us', {
  year: 'numeric',
  month: 'short',
  day: 'numeric',
});
const isArticleOutdated = date.getFullYear() <= (new Date().getFullYear() - 2);
---

<BasePageLayout>
  <Fragment slot="meta">
    <slot name="meta" />
  </Fragment>

  <Fragment slot="banner">
    {
      isArticleOutdated && (
        <Banner icon="fa-solid fa-warning text-lg" bold>
          Heads up, this article is 2+ years old. Any technical information may be out of date so it's worth double checking for an updated version.
        </Banner>
      )
    }   
  </Fragment>

  <Fragment slot="main">
    <article id="article-content">
      <PageHeader classes="mb-6">
        {title}
      </PageHeader>
      <div
        class="flex flex-col sm:flex-row justify-left sm:justify-between items-left sm:items-center text-text-muted border-b pb-4 pt-2"
      >
        <time class="block mb-0 text-xl" datetime={date.toDateString()}>
          {formattedDate}
        </time>
        <div class="flex text-sm">
          <p>posted in:</p>
          <ul class="unset flex">
            {
              tags.map((tag) => (
                <li>
                  <a href={`/tags/${tag.toLowerCase()}`}>
                    #{tag.toLowerCase()}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
         
      <section
        class="blog-post prose md:prose-lg max-w-none prose-bubblegum post-content"
      >
        <slot name="content" />
      </section>
    </article>
  </Fragment>

  <section class="my-14" slot="additional-content">
    <slot name="additional-content" />
  </section>
</BasePageLayout>
