---
import { Image } from "astro:assets";

import PageLayout from "../layouts/PageLayout.astro";
import PageMeta from "../components/PageMeta.astro";
import PageHeader from "src/components/PageHeader.astro";
import BenefitsList from "src/components/BenefitsList.astro";
import BrandsList from "src/components/BrandsList.astro";
import Button from "src/components/Button.astro";
import LPServicesList from "src/components/LPServicesList.astro";
import Testimonials from "src/components/Testimonials.astro";

import signature from "../assets/rob-kendal-signature.png";
import signatureinverted from "../assets/rob-kendal-signature-inverted.png";

interface Props {
  title: string;
  metaTitle: string;
  description: string;
  benefits: {
    title: string;
    list: string[];
  };
  services: {
    title: string;
    intro: string;
    list: {
      icon: string;
      title: string;
      blurb: string;
    }[];
  };
  brands: {
    title: string;
    intro: string;
  };
  testimonials: {
    title: string;
    intro: string;
  };
}

const {
  title,
  metaTitle,
  description,
  benefits,
  services,
  brands,
  testimonials,
} = Astro.props;
---

<PageLayout>
  <PageMeta title={metaTitle} description={description} slot="meta" />
  <section slot="main">
    <div
      class="flex flex-col text-center sm:text-left items-center sm:flex-row align-middle my-8 gap-6"
    >
      <img
        src="/img/avatars/rob-kendal-profile-circle.png"
        alt="Rob Kendal freelance Shopify developer, software developer and headless CMS developer"
        class="max-w-[15rem] sm:max-w-[12rem]"
      />
      <PageHeader>
        {title}
      </PageHeader>
    </div>

    <blockquote
      class="space-y-6
      text-xl
      text-center
      sm:text-left
      sm:px-14
      sm:my-14
      my-8"
    >
      <p>
        <span class="fa-solid fa-quote-left text-4xl pr-2"></span>
        <slot name="intro" />
      </p>
      <p>
        Let's talk about your project and how I can help your business.
        <Image
          src={signature}
          alt="Rob Kendal Freelance Shopify Developer, a colourful letter K"
          width={150}
          height={150}
          class="sm:float-right mb-10 mx-auto dark:hidden"
        />
        <Image
          src={signatureinverted}
          alt="Rob Kendal Freelance Shopify Developer, a colourful letter K"
          width={150}
          height={150}
          class="sm:float-right mb-10 mx-auto dark:block hidden"
        />
      </p>
    </blockquote>

    <slot name="intro-content" />
    <div
      class="relative
        clear-both
        my-8
        before:z-0
        before:block
        before:absolute
        before:-inset-1
        before:-skew-y-2
        before:-rotate-2
        before:bg-gradient-to-bl
        before:bg-no-repeat
        before:bg-bottom
        before:bg-[length:95%_95%]
        before:from-primary-blue
        before:to-primary-blue
        before:dark:from-primary-blue
        before:dark:to-primary-blue
        before:bg-primary-blue
        before:dark:bg-primary-blue
        sm:before:w-[95%]
        before:mx-auto
        before:w-auto"
    >
      <h2
        class="heading-2 text-center overflow-hidden mb-4 z-10 block relative max-w-lg mx-auto"
      >
        {benefits.title}
      </h2>
      <BenefitsList list={benefits.list} />
    </div>

    <slot name="additional-content" />

    <div class="text-center my-20 text-2xl border-t-2 pt-8">
      <p class="mb-6">
        <slot name="hireme">
          Tell me about your project and let's see how we can work together.
        </slot>
      </p>
      <div class="flex justify-center gap-5 items-center">
        <Button href="/contact" text="hire me" variant="primary" />
        <Button
          href="/blog"
          text="read my articles"
          variant="primary"
          isOutline
        />
      </div>
    </div>

    <LPServicesList
      title={services.title}
      intro={services.intro}
      list={services.list}
    />

    <div
      class="relative bg-primary-blue-OLD p-5 md:p-10 lg:-mx-32 xl:-mx-52 2xl:-mx-72"
    >
      <span
        class="absolute inset-0 w-full h-full transition duration-200 ease-out transform translate-x-1 translate-y-1 bg-black group-hover:-translate-x-0 group-hover:-translate-y-0"
      ></span>
      <span
        class={`
          absolute 
          inset-0 
          w-full 
          h-full 
          bg-primary-blue 
          border-2 
          border-gray-800 
          group-hover:bg-primary-blue    
        `}></span>
      <slot name="callout" />
    </div>

    <BrandsList title={brands.title} intro={brands.intro} />
    <Testimonials
      title={testimonials.title}
      intro={testimonials.intro}
      shuffle
    />

    <slot name="cta" />
  </section>
</PageLayout>
